body {
  scroll-behavior: smooth;
}

img {
	width: 100%;
}

.nav_items {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 30px 0;
}

.nav_item {
	list-style: none;
}

.main_baner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	background: #ebebeb;
}

.section {
	padding: 50px 0;
}

.section_title {
	margin-bottom: 50px;
}